<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="megakit,business,company,agency,multipurpose,modern,bootstrap4">

    <meta name="author" content="themefisher.com">

    <title>Megakit| Html5 Agency template</title>

    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="~/Public/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Icon Font Css -->
    <link rel="stylesheet" href="~/Public/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="~/Public/plugins/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/Public/plugins/magnific-popup/dist/magnific-popup.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Public/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="~/Public/plugins/slick-carousel/slick/slick-theme.css">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="~/Public/css/style.css">

    <!-- Page -->
    <link href="~/Areas/Admin/Public/assets/vendor/css/pages/page-auth.css" rel="stylesheet" />

    <!-- Core CSS -->
    @*<link rel="stylesheet" href="~/Areas/Admin/Public/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/Areas/Admin/Public/assets/css/demo.css" />*@

</head>