<!doctype html>
<html lang="en">
@Html.Partial("_Head")

<body>

    <!-- Header Start -->

    @Html.Partial("_Header")

    <!-- Header Close -->

    @RenderBody()

    <!--
    Essential Scripts
    =====================================-->
    @Html.Partial("_Script")

</body>
</html>
