<!doctype html>
<html lang="en">
@Html.Partial("_Head")

<body>

    @RenderBody()

    <!--
    Essential Scripts
    =====================================-->
    @Html.Partial("_Script")

</body>
</html>
