<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Enter your information</h5>
            <small class="text-muted float-end">Merged input group</small>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="basic-icon-default-fullname">First Name</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   class="form-control"
                                   id="basic-icon-default-fullname"
                                   placeholder="First Name"
                                   aria-describedby="basic-icon-default-fullname2" />
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="basic-icon-default-company">Last Name</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   id="basic-icon-default-company"
                                   class="form-control"
                                   placeholder="Last Name"
                                   aria-describedby="basic-icon-default-company2" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="basic-icon-default-email">Old</label>
                        <div class="input-group input-group-merge">
                            <input type="date"
                                   id="basic-icon-default-email"
                                   class="form-control"
                                   aria-describedby="basic-icon-default-email2" />
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <label class="form-label" for="basic-icon-default-phone">Gender</label>
                        <div class="input-group input-group-merge m-3 row">
                            <div class="col-4">
                                <input type="radio" id="age1" name="age" class="ml-3">
                                <label for="age1">Male</label>
                            </div>
                            <div class="col-4">
                                <input type="radio" id="age2" name="age" class="ml-3">
                                <label for="age2">Female</label>
                            </div>
                            <div class="col-4">
                                <input type="radio" id="age3" name="age" class="ml-3">
                                <label for="age3">Orther</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="basic-icon-default-email">Email</label>
                        <div class="input-group input-group-merge">

                            <input type="text"
                                   id="basic-icon-default-email"
                                   class="form-control"
                                   aria-describedby="basic-icon-default-email2" />
                        </div>
                    </div>
                    <div class="col-6   mb-3">
                        <label class="form-label" for="basic-icon-default-phone">Phone</label>
                        <div class="input-group input-group-merge">
                            <input type="text"
                                   id="basic-icon-default-phone"
                                   class="form-control phone-mask"
                                   placeholder="Enter phone"
                                   aria-describedby="basic-icon-default-phone2" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>