<style>
    .ml-3{
        padding-left: 10px;
    }
    .mb-4 {
        margin-right: -42px;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý Survey/</span>Thêm Survey</h4>
    <div class="row">
        <ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Tạo mới survey</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tạo mới google survey</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false"> Thông tin cơ bản</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true"> Danh sách câu hỏi</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"> Thông tin thêm</button>
                        </li>
                    </ul>
                    <div class="tab-content  bg-light" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form>
                                <div class="col-12 col-mb-8">
                                    <div class="row m-2 basic-survey">
                                        <div class="col-2"> <label class="form-label" for="basic-default-fullname">Tên</label></div>
                                        <div class="col-6"> <input type="text" name="survey-name" class="form-control" id="basic-default-surveyname" placeholder="SurveyName" /></div>
                                    </div>
                                    <div class="row m-2 basic-survey">
                                        <div class="col-2"><label class="form-label" for="basic-default-company">Thời gian bắt đầu</label></div>
                                        <div class="col-4"><input type="date" name="start-time" class="form-control" id="basic-default-company" placeholder="Start Time" /></div>
                                    </div>
                                    <div class="row m-2 basic-survey">
                                        <div class="col-2"><label class="form-label" for="basic-default-company">Thời gian kết thúc</label></div>
                                        <div class="col-4"><input type="date" name="end-time" class="form-control" id="basic-default-company" placeholder="End Time" /></div>
                                    </div>
                                    <div class="row m-2 basic-survey" ">
                                        <div class="col-2"><label class="form-label" for="basic-default-company">Mô tả</label></div>
                                        <div class="col-10"><textarea name="description" class="form-control" id="basic-default-company" placeholder="Description"></textarea></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" id="btnSubmitBasicSurvey" class="btn btn-primary col-1 mt-4">Tiếp theo</button>
                                    <h1 id="demo"></h1>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <button type="button" class="btn btn-success" id="btn-add-question">
                                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm câu hỏi
                            </button>
                            <div class="accordion mt-3" id="accordionExample">
                                <div class="card accordion-item active">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button type="button" class="accordion-button" id="question-element" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                            1. How are you today?
                                        </button>
                                    </h2>

                                    <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            <div class="float-start" id="answer-text">
                                                I am fine
                                            </div>
                                            <div class="float-end m-2">
                                                <button type="button" class="btn btn-icon btn-outline-secondary" id="btn-edit-answer">
                                                    <span class="tf-icons bx bx-edit"></span>
                                                </button>
                                                <button type="button" class="btn btn-icon btn-outline-danger" id="btn-delete-answer">
                                                    <span class="tf-icons bx bx-trash"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row mt-5 mb-2 ml-3">
                                            <div class="col">
                                                <button type="button" class="btn btn-outline-primary btn-add-answer">
                                                    <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm trả lời
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-outline-secondary btn-edit-question">
                                                    <span class="tf-icons bx bx-edit"></span>&nbsp; Sửa
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-outline-danger btn-delete-question">
                                                    <span class="tf-icons bx bx-trash"></span>&nbsp; Xóa
                                                </button>
                                            </div>
                                        </div>
                                    </div>      
                                    
                                </div>
                                <div class="card accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                            2. What are you doing?
                                        </button>
                                    </h2>
                                    <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            <div>
                                                <div class="form-check mb-3">
                                                    <input name="default-radio-1" class="form-check-input" type="radio" value="" id="answer-radio" checked="">
                                                    <label class="form-check-label" id="answer-element" for="defaultRadio2"> Playing </label>
                                                    <div class="float-end mb-4">
                                                        <button type="button" class="btn btn-icon btn-outline-secondary" id="btn-edit-answer">
                                                            <span class="tf-icons bx bx-edit"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-icon btn-outline-danger" id="btn-delete-answer">
                                                            <span class="tf-icons bx bx-trash"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-check mb-3">
                                                    <input name="default-radio-1" class="form-check-input" type="radio" value="" id="answer-radio" checked="">
                                                    <label class="form-check-label" id="answer-element" for="defaultRadio2"> Learning </label>
                                                    <div class="float-end mb-4">
                                                        <button type="button" class="btn btn-icon btn-outline-secondary" id="btn-edit-answer">
                                                            <span class="tf-icons bx bx-edit"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-icon btn-outline-danger"  id="btn-delete-answer">
                                                            <span class="tf-icons bx bx-trash"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form-check mb-3">
                                                    <input name="default-radio-1" class="form-check-input" type="radio" value="" id="answer-radio" checked="">
                                                    <label class="form-check-label" id="answer-element" for="defaultRadio2"> Listening </label>
                                                    <div class="float-end mt-4">
                                                        <button type="button" class="btn btn-icon btn-outline-secondary" id="btn-edit-answer" >
                                                            <span class="tf-icons bx bx-edit"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-icon btn-outline-danger" id="btn-delete-answer">
                                                            <span class="tf-icons bx bx-trash"></span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-5 mb-2 ml-3">
                                            <div class="col">
                                                <button type="button" class="btn btn-outline-primary btn-add-answer">
                                                    <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm trả lời
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-outline-secondary btn-edit-question">
                                                    <span class="tf-icons bx bx-edit"></span>&nbsp; Sửa
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-outline-danger btn-delete-question">
                                                    <span class="tf-icons bx bx-trash"></span>&nbsp; Xóa
                                                </button>
                                            </div>
                                        </div>
                                    </div>                                 
                                </div>
                                <div class="card accordion-item">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                                            3. What is your problem?
                                        </button>
                                    </h2>
                                    <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
                                        <div class="accordion-body">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3"> Health problem</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3"> Seven love </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                                                <label class="form-check-label" for="defaultCheck3"> Not enough money </label>
                                            </div>
                                        </div>
                                        <div class="row mt-5 mb-2 ml-3">
                                            <div class="col">
                                                <button type="button" class="btn btn-outline-primary btn-add-answer">
                                                    <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm trả lời
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-outline-secondary btn-edit-question">
                                                    <span class="tf-icons bx bx-edit"></span>&nbsp; Sửa
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-outline-danger btn-delete-question">
                                                    <span class="tf-icons bx bx-trash"></span>&nbsp; Xóa
                                                </button>
                                            </div>
                                        </div>
                                    </div>                                 
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" id="btnSubmitBasicSurvey" class="btn btn-primary col-1 mt-4">Tiếp theo</button>
                                <h1 id="demo"></h1>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYMUf-GqATlWkI-3gtGryGryg8fJHH_aOTXff_xkt-SBrF-g/viewform?usp=sf_link"></a>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="question-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Nhập nội dung câu hỏi</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameLarge" class="form-label">Tiêu đề câu hỏi</label>
                        <input type="text" id="nameLarge" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <select id="defaultSelect" class="form-select">
                            <option>Loại câu hỏi</option>
                            <option id="question-text" value="1">Nhập text</option>
                            <option id="question-radio" value="2">Lựa chọn radio button</option>
                            <option id="question-checkbox"value="3">Chọn nhiều checkbox</option>
                        </select>
                    </div>                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
                <button type="button" class="btn btn-primary save-change-question">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-question-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Chắc chắn xóa câu hỏi?</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            @*<div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameLarge" class="form-label">Chắc chắn xóa câu hỏi?</label>
                    </div>
                </div>              
            </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Bỏ qua
                </button>
                <button type="button" class="btn btn-primary confirm-remove">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <!-- Modal -->
    <div class="modal fade" id="add-answer-modal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Thêm câu trả lời</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameBasic" class="form-label">Câu trả lời</label>
                            <input type="text" id="answerDetail" class="form-control" placeholder="Nhập câu trả lời">
                        </div>
                    </div>
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary btn-update-answer">Lưu thay đổi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-answer-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Chắc chắn xóa câu trả lời?</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            @*<div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameLarge" class="form-label">Chắc chắn xóa câu hỏi?</label>
                        </div>
                    </div>
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Bỏ qua
                </button>
                <button type="button" class="btn btn-primary confirm-remove">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#btn-add-question').click(function () {
            $('#question-modal').modal('show');
        })
        $('.btn-edit-question').click(function () {
            $('#question-modal').modal('show');
            var getQuestionElement = $('#question-element').text();
            $('#nameLarge').val(getQuestionElement);
        })
        $('.save-change-question').click(function () {
            var updateQuestion = $('#nameLarge').val();
            $('#question-element').val(updateQuestion);
        })
        $('.btn-delete-question').click(function () {
            $('#delete-question-modal').modal('show');
        })
        $('.btn-add-answer').click(function () {
            $('#add-answer-modal').modal('show');
        })
        var i = 1;
       
        $('#btn-edit-answer').click(function (editAnswer) {
            alert("hello");
            $('#add-answer-modal').modal('show');
            editAnswer.preventDefault();
           
            // sua answer text
            var getAnswerElement = $('#answer-element' + i).text();
            $('#answerDetail').val(getAnswerElement);
            i++;
        })
        $('#btn-delete-answer'+i).click(function () {
            $('#delete-answer-modal').modal('show');
        })
        // them cau tra loi
        var wrapper1 = $("#myTabContent");
        var addButtonQuestion = $(".save-change-question");
        $(addButtonQuestion).click(function (addQuestion) {
            addQuestion.preventDefault();
            var titleQuestion = $("#nameLarge").val();
            wrapper1.append('<div><p>' + titleQuestion + '</p></div>');

        });
        //$("#question_modal").modal('hide');
        //titleQuestion = $("#nameLarge").val("");

        //// Remove question
        //var i = 0;
        //$(".confirm-remove").click(function (removeQuestion) {
        //    removeQuestion.preventDefault();
        //    var getRemoveQuestion = $("#headingOne" + i).val();
        //    wrapper1.remove()
        //})

        // sua cau tra loi
        $('.btn-update-answer').click(function () {
            var getAnswerChanged = $('#answerDetail').val();
            $('#answer-text').text(getAnswerChanged);
        })
    });

</script>
