<style>
    .ml-3 {
        padding-left: 10px;
    }
    .mb-4 {
        margin-right: -42px;
    }
</style>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Quản lý Survey/</span>Thêm Survey</h4>
    <div class="row">
        <ul class="nav nav-pills m-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Tạo mới survey</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Tạo mới google survey</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="row">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false"> Thông tin cơ bản</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true"> Danh sách câu hỏi</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"> Thông tin thêm</button>
                        </li>
                    </ul>
                    <div class="tab-content  bg-light" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form>
                                <div class="col-12 col-mb-8">
                                    <div class="row m-2 basic-survey">
                                        <div class="col-2"> <label class="form-label" for="basic-default-fullname">Tên</label></div>
                                        <div class="col-6"> <input type="text" name="survey-name" class="form-control" id="basic-default-surveyname" placeholder="SurveyName" /></div>
                                    </div>
                                    <div class="row m-2 basic-survey">
                                        <div class="col-2"><label class="form-label" for="basic-default-company">Thời gian bắt đầu</label></div>
                                        <div class="col-4"><input type="date" name="start-time" class="form-control" id="basic-default-company" placeholder="Start Time" /></div>
                                    </div>
                                    <div class="row m-2 basic-survey">
                                        <div class="col-2"><label class="form-label" for="basic-default-company">Thời gian kết thúc</label></div>
                                        <div class="col-4"><input type="date" name="end-time" class="form-control" id="basic-default-company" placeholder="End Time" /></div>
                                    </div>
                                    <div class="row m-2 basic-survey" ">
                                        <div class="col-2"><label class="form-label" for="basic-default-company">Mô tả</label></div>
                                        <div class="col-10"><textarea name="description" class="form-control" id="basic-default-company" placeholder="Description"></textarea></div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" id="btnSubmitBasicSurvey" class="btn btn-primary col-1 mt-4">Tiếp theo</button>
                                    <h1 id="demo"></h1>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <button type="button" class="btn btn-success" id="btn-add-question">
                                <span class="tf-icons bx bx-plus"></span>&nbsp; Thêm câu hỏi
                            </button>
                            <div class="accordion mt-3" id="accordionExample"></div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" id="btnSubmitBasicSurvey" class="btn btn-primary col-1 mt-4">Tiếp theo</button>
                                <h1 id="demo"></h1>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfYMUf-GqATlWkI-3gtGryGryg8fJHH_aOTXff_xkt-SBrF-g/viewform?usp=sf_link"></a>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="question-modal" tabindex="-1" aria-hidden="true">
    <input type="hidden" id="question-modal-action" name="question-modal-action" value="1" />
    <input type="hidden" id="current-object-index" name="current-object-index" value="0" />
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Nhập nội dung câu hỏi</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameLarge" class="form-label">Tiêu đề câu hỏi</label>
                        <input type="text" id="nameLarge" class="form-control" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <select id="defaultSelect" class="form-select">
                            <option selected disabled value="0">Loại câu hỏi</option>
                            <option value="1">Nhập text</option>
                            <option value="2">Lựa chọn radio button</option>
                            <option value="3">Chọn nhiều checkbox</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Đóng
                </button>
                <button type="button" id="btnSubmitQuestion" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete-question-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Chắc chắn xóa câu hỏi?</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            @*<div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="nameLarge" class="form-label">Chắc chắn xóa câu hỏi?</label>
                        </div>
                    </div>
                </div>*@
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Bỏ qua
                </button>
                <button type="button" class="btn btn-primary confirm-remove">Xác nhận xóa</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="~/Content/Admin/add_survey.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {            
        $('.save-change-question').click(function () {
            var updateQuestion = $('#nameLarge').val();
            $('#question-element').val(updateQuestion);
        })
        $('.btn-delete-question').click(function () {
            $('#delete-question-modal').modal('show');
        })

    })
</script>
