<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span>Basic information</h4>
    <div class="row">
        
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane show active bg-white" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <ul class="clearfix form-section page-section page_1" style="list-style: none; margin: 0px; font-size: 16px; margin: 0 200px; color: rgb(0, 24, 88); font-family: Inter, &quot; Lucida Grande&quot;, &quot; Lucida Sans Unicode&quot;, &quot; Lucida Sans&quot;, Verdana, sans-serif; ">
                    <li id="id_25" data-type="control_head" data-qid="25" data-order="1" data-selectioncount="0" class="form-line clearfix isNotSelected form-input-wide form-input-wide-lix`ne-fix lineAlignment-Center" style="z-index: 1;" draggable="false">
                        <div class="question-wrapper questionWrapper  false">
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div class="form-header-group  header-large">
                                    <div class="header-text httac htvam">
                                        <h1 id="header_25" class="form-header" data-component="header">
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <div class="inlineEditor" placeholder="Type a header" format="text" contenteditable="true" data-gramm="false" style="padding: 20px; text-align: center; justify-content: center;">Employee Satisfactiony</div>
                                            </div>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_26" data-type="control_fullname" data-qid="26" data-order="2" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Auto-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper false">
                            <label id="label_26" class="form-label form-label-top form-label-auto" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">Name</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div data-wrapper-react="true">
                                    <span class="form-sub-label-container" data-input-type="first" style="vertical-align: top;">
                                        <input type="text" id="first_26" name="q26_name[first]" placeholder="First Name" class="form-textbox col-md-6 p-2" data-defaultvalue="" autocomplete="section-input_26 given-name" size="10" tabindex="-1" data-component="first" aria-labelledby="label_26 sublabel_26_first" value="">
                                    </span>
                                    <span class="form-sub-label-container" data-input-type="last" style="vertical-align: top;">
                                        <input type="text" id="last_26" name="q26_name[last]" class="form-textbox col-md-6 p-2 mt-4" placeholder="Last Name" data-defaultvalue="" autocomplete="section-input_26 family-name" size="15" tabindex="-1" data-component="last" aria-labelledby="label_26 sublabel_26_last" value="">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_22" data-type="control_radio" data-qid="22" data-order="5" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_22" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">How would you describe your overall level of job satisfaction?</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div class="form-single-column" role="group" aria-labelledby="label_22" data-component="radio">
                                    <span class="form-radio-item mt-4" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" class="form-radio" id="input_22_0" name="q22_howWould" value="Very satisfied">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_0" style="display: inline-block;">Very satisfied</label>
                                            </div>
                                        </span>
                                    </span>
                                    <br />
                                    <span class="form-radio-item mt-4" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" class="form-radio" id="input_22_1" name="q22_howWould" value="Somewhat satisfied">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_1" style="display: inline-block;">Somewhat satisfied</label>
                                            </div>
                                        </span>
                                    </span>
                                    <br />
                                    <span class="form-radio- mt-4" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" id="input_22_2" name="q22_howWould" value="Neutral">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_2" style="display: inline-block;">Neutral</label>
                                            </div>
                                        </span>
                                    </span>
                                    <br />
                                    <span class="form-radio-item mt-4" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" id="input_22_3" name="q22_howWould" value="Somewhat dissatisfied">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_3" style="display: inline-block;">Somewhat dissatisfied</label>
                                            </div>
                                        </span>
                                    </span>
                                    <br />
                                    <span class="form-radio-item mt-4" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_22" type="radio" tabindex="-1" class="form-radio" id="input_22_4" name="q22_howWould" value="Very dissatisfied" />
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_4" style="display: inline-block;">Very dissatisfied</label>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_23" data-type="control_matrix" data-inputtype="Radio Button" data-qid="23" data-order="6" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_23" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">How would you rate the following?</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <table summary="" aria-labelledby="label_23" cellpadding="4" cellspacing="0" class="form-matrix-table" data-component="matrix">
                                    <tr class="form-matrix-tr form-matrix-header-tr">
                                        <th class="form-matrix-th" style="border: none;">&nbsp;</th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0" style="position: relative;">
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <div class="inlineEditor" placeholder="Type Col Name" format="text" contenteditable="true" data-gramm="false">Very Poor</div>
                                            </div>
                                        </th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1" style="position: relative;">
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <div class="inlineEditor" placeholder="Type Col Name" format="text" contenteditable="true" data-gramm="false">Poor</div>
                                            </div>
                                        </th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="position: relative;">
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <div class="inlineEditor" placeholder="Type Col Name" format="text" contenteditable="true" data-gramm="false">Average</div>
                                            </div>
                                        </th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_3" style="position: relative;">
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <div class="inlineEditor" placeholder="Type Col Name" format="text" contenteditable="true" data-gramm="false">Good</div>
                                            </div>
                                        </th>
                                        <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_4" style="position: relative;">
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <div class="inlineEditor" placeholder="Type Col Name" format="text" contenteditable="true" data-gramm="false">Excellent</div>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_0"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Salary					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_0_0" class="form-radio" type="radio" name="q23_howWould23[0]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_0" value="Very Poor"><label for="input_23_0_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_0_1" class="form-radio" type="radio" name="q23_howWould23[0]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_0" value="Poor"><label for="input_23_0_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_0_2" class="form-radio" type="radio" name="q23_howWould23[0]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_0" value="Average"><label for="input_23_0_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_0_3" class="form-radio" type="radio" name="q23_howWould23[0]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_0" value="Good"><label for="input_23_0_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_0_4" class="form-radio" type="radio" name="q23_howWould23[0]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_0" value="Excellent"><label for="input_23_0_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_1"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Overall benefits					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_1_0" class="form-radio" type="radio" name="q23_howWould23[1]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_1" value="Very Poor"><label for="input_23_1_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_1_1" class="form-radio" type="radio" name="q23_howWould23[1]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_1" value="Poor"><label for="input_23_1_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_1_2" class="form-radio" type="radio" name="q23_howWould23[1]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_1" value="Average"><label for="input_23_1_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_1_3" class="form-radio" type="radio" name="q23_howWould23[1]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_1" value="Good"><label for="input_23_1_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_1_4" class="form-radio" type="radio" name="q23_howWould23[1]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_1" value="Excellent"><label for="input_23_1_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_2"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Health benefits					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_2_0" class="form-radio" type="radio" name="q23_howWould23[2]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_2" value="Very Poor"><label for="input_23_2_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_2_1" class="form-radio" type="radio" name="q23_howWould23[2]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_2" value="Poor"><label for="input_23_2_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_2_2" class="form-radio" type="radio" name="q23_howWould23[2]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_2" value="Average"><label for="input_23_2_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_2_3" class="form-radio" type="radio" name="q23_howWould23[2]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_2" value="Good"><label for="input_23_2_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_2_4" class="form-radio" type="radio" name="q23_howWould23[2]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_2" value="Excellent"><label for="input_23_2_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_3"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Physical work environment					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_3_0" class="form-radio" type="radio" name="q23_howWould23[3]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_3" value="Very Poor"><label for="input_23_3_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_3_1" class="form-radio" type="radio" name="q23_howWould23[3]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_3" value="Poor"><label for="input_23_3_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_3_2" class="form-radio" type="radio" name="q23_howWould23[3]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_3" value="Average"><label for="input_23_3_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_3_3" class="form-radio" type="radio" name="q23_howWould23[3]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_3" value="Good"><label for="input_23_3_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_3_4" class="form-radio" type="radio" name="q23_howWould23[3]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_3" value="Excellent"><label for="input_23_3_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_4"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Senior leadership					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_4_0" class="form-radio" type="radio" name="q23_howWould23[4]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_4" value="Very Poor"><label for="input_23_4_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_4_1" class="form-radio" type="radio" name="q23_howWould23[4]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_4" value="Poor"><label for="input_23_4_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_4_2" class="form-radio" type="radio" name="q23_howWould23[4]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_4" value="Average"><label for="input_23_4_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_4_3" class="form-radio" type="radio" name="q23_howWould23[4]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_4" value="Good"><label for="input_23_4_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_4_4" class="form-radio" type="radio" name="q23_howWould23[4]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_4" value="Excellent"><label for="input_23_4_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_5"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Individual management					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_5_0" class="form-radio" type="radio" name="q23_howWould23[5]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_5" value="Very Poor"><label for="input_23_5_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_5_1" class="form-radio" type="radio" name="q23_howWould23[5]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_5" value="Poor"><label for="input_23_5_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_5_2" class="form-radio" type="radio" name="q23_howWould23[5]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_5" value="Average"><label for="input_23_5_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_5_3" class="form-radio" type="radio" name="q23_howWould23[5]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_5" value="Good"><label for="input_23_5_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_5_4" class="form-radio" type="radio" name="q23_howWould23[5]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_5" value="Excellent"><label for="input_23_5_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_6"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Performance feedback					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_6_0" class="form-radio" type="radio" name="q23_howWould23[6]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_6" value="Very Poor"><label for="input_23_6_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_6_1" class="form-radio" type="radio" name="q23_howWould23[6]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_6" value="Poor"><label for="input_23_6_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_6_2" class="form-radio" type="radio" name="q23_howWould23[6]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_6" value="Average"><label for="input_23_6_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_6_3" class="form-radio" type="radio" name="q23_howWould23[6]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_6" value="Good"><label for="input_23_6_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_6_4" class="form-radio" type="radio" name="q23_howWould23[6]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_6" value="Excellent"><label for="input_23_6_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_7"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Employee evaluations					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_7_0" class="form-radio" type="radio" name="q23_howWould23[7]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_7" value="Very Poor"><label for="input_23_7_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_7_1" class="form-radio" type="radio" name="q23_howWould23[7]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_7" value="Poor"><label for="input_23_7_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_7_2" class="form-radio" type="radio" name="q23_howWould23[7]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_7" value="Average"><label for="input_23_7_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_7_3" class="form-radio" type="radio" name="q23_howWould23[7]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_7" value="Good"><label for="input_23_7_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_7_4" class="form-radio" type="radio" name="q23_howWould23[7]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_7" value="Excellent"><label for="input_23_7_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_8"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Recognition					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_8_0" class="form-radio" type="radio" name="q23_howWould23[8]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_8" value="Very Poor"><label for="input_23_8_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_8_1" class="form-radio" type="radio" name="q23_howWould23[8]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_8" value="Poor"><label for="input_23_8_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_8_2" class="form-radio" type="radio" name="q23_howWould23[8]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_8" value="Average"><label for="input_23_8_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_8_3" class="form-radio" type="radio" name="q23_howWould23[8]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_8" value="Good"><label for="input_23_8_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_8_4" class="form-radio" type="radio" name="q23_howWould23[8]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_8" value="Excellent"><label for="input_23_8_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_9"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Training opportunities					</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_9_0" class="form-radio" type="radio" name="q23_howWould23[9]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_9" value="Very Poor"><label for="input_23_9_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_9_1" class="form-radio" type="radio" name="q23_howWould23[9]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_9" value="Poor"><label for="input_23_9_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_9_2" class="form-radio" type="radio" name="q23_howWould23[9]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_9" value="Average"><label for="input_23_9_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_9_3" class="form-radio" type="radio" name="q23_howWould23[9]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_9" value="Good"><label for="input_23_9_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_9_4" class="form-radio" type="radio" name="q23_howWould23[9]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_9" value="Excellent"><label for="input_23_9_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                    <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_23 label_23_row_10"><th scope="row" class="form-matrix-headers form-matrix-row-headers"><div class="editor-container editorHasText" style="display: inline-block;"><div class="inlineEditor" placeholder="Type Row Name" format="text" contenteditable="true" data-gramm="false">Opportunities for advancement</div></div></th><td class="form-matrix-values"><input readonly="" id="input_23_10_0" class="form-radio" type="radio" name="q23_howWould23[10]" tabindex="-1" aria-labelledby="label_23_col_0 label_23_row_10" value="Very Poor"><label for="input_23_10_0" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_10_1" class="form-radio" type="radio" name="q23_howWould23[10]" tabindex="-1" aria-labelledby="label_23_col_1 label_23_row_10" value="Poor"><label for="input_23_10_1" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_10_2" class="form-radio" type="radio" name="q23_howWould23[10]" tabindex="-1" aria-labelledby="label_23_col_2 label_23_row_10" value="Average"><label for="input_23_10_2" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_10_3" class="form-radio" type="radio" name="q23_howWould23[10]" tabindex="-1" aria-labelledby="label_23_col_3 label_23_row_10" value="Good"><label for="input_23_10_3" class="matrix-choice-label matrix-radio-label"></label></td><td class="form-matrix-values"><input readonly="" id="input_23_10_4" class="form-radio" type="radio" name="q23_howWould23[10]" tabindex="-1" aria-labelledby="label_23_col_4 label_23_row_10" value="Excellent"><label for="input_23_10_4" class="matrix-choice-label matrix-radio-label"></label></td></tr>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li id="id_10" data-type="control_radio" data-qid="10" data-order="7" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_10" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">Do you feel valued at work?</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div class="form-single-column" role="group" aria-labelledby="label_10" data-component="radio">
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_10" type="radio" tabindex="-1" class="form-radio" id="input_10_0" name="q10_doYou" value="Yes"><span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_10_0" style="display: inline-block;">Yes</label>
                                            </div>
                                        </span>
                                    </span>
                                    <br />
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_10" type="radio" tabindex="-1" class="form-radio" id="input_10_1" name="q10_doYou" value="No" checked=""><span><div class="editor-container editorHasText" style="display: inline-block;"><label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_10_1" style="display: inline-block;">No</label></div></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_11" data-type="control_textarea" data-qid="11" data-order="8" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top  mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_11" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">If No, Please Explain</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <span class="form-sub-label-container" style="vertical-align: top;">
                                    <textarea id="input_11" class="form-textarea" name="q11_ifNo" data-component="textarea" aria-labelledby="label_11" placeholder="Type here..." style="width: 648px; height: 163px;"></textarea> <span class="form-sub-label">
                                        <div class="editor-container editorNoText" style="display: inline-block;">
                                            <div class="inlineEditor" placeholder="Type a sublabel" format="text" contenteditable="true" data-gramm="false"></div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="id_12" data-type="control_radio" data-qid="12" data-order="9" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top  mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_12" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">Do you have the resources you need to perform your job well?</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div class="form-single-column" role="group" aria-labelledby="label_12" data-component="radio">
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_12" type="radio" tabindex="-1" class="form-radio" id="input_12_0" name="q12_doYou" value="Yes">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_12_0" style="display: inline-block;">Yes</label>
                                            </div>
                                        </span>
                                    </span><br />
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_12" type="radio" tabindex="-1" class="form-radio" id="input_12_1" name="q12_doYou" value="No" checked="">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_12_1" style="display: inline-block;">No</label>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_13" data-type="control_textarea" data-qid="13" data-order="10" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_13" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">If No, Please Explain</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <span class="form-sub-label-container" style="vertical-align: top;">
                                    <textarea id="input_13" class="form-textarea" name="q13_ifNo13" data-component="textarea" aria-labelledby="label_13" placeholder="Type here..." style="width: 648px; height: 163px;"></textarea>
                                    <span class="form-sub-label">
                                        <div class="editor-container editorNoText" style="display: inline-block;">
                                            <div class="inlineEditor" placeholder="Type a sublabel" format="text" contenteditable="true" data-gramm="false"></div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="id_14" data-type="control_radio" data-qid="14" data-order="11" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_14" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">Does your job cause you stress or anxiety?</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div class="form-single-column" role="group" aria-labelledby="label_14" data-component="radio">
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_14" type="radio" tabindex="-1" class="form-radio" id="input_14_0" name="q14_doesYour" value="Yes" checked=""><span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_14_0" style="display: inline-block;">Yes</label>
                                            </div>
                                        </span>
                                    </span><br />
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_14" type="radio" tabindex="-1" class="form-radio" id="input_14_1" name="q14_doesYour" value="No">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_14_1" style="display: inline-block;">No</label>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_15" data-type="control_textarea" data-qid="15" data-order="12" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_15" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">If Yes, Please Explain</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <span class="form-sub-label-container" style="vertical-align: top;">
                                    <textarea id="input_15" class="form-textarea" name="q15_ifYes15" data-component="textarea" aria-labelledby="label_15" placeholder="Type here..." style="width: 648px; height: 163px;"></textarea>
                                    <span class="form-sub-label">
                                        <div class="editor-container editorNoText" style="display: inline-block;">
                                            <div class="inlineEditor" placeholder="Type a sublabel" format="text" contenteditable="true" data-gramm="false"></div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="id_16" data-type="control_radio" data-qid="16" data-order="13" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_16" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">Are sufficient efforts being made to solicit colleague opinions and feedback?</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <div class="form-single-column" data-component="radio" role="group" aria-labelledby="label_16">
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_16" type="radio" tabindex="-1" class="form-radio" id="input_16_0" name="q16_areSufficient" value="Yes" checked=""><span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_16_0" style="display: inline-block;">Yes</label>
                                            </div>
                                        </span>
                                    </span><br />
                                    <span class="form-radio-item" style="clear: left;">
                                        <span class="dragger-item"></span>
                                        <input aria-describedby="label_16" type="radio" tabindex="-1" class="form-radio" id="input_16_1" name="q16_areSufficient" value="No">
                                        <span>
                                            <div class="editor-container editorHasText" style="display: inline-block;">
                                                <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_16_1" style="display: inline-block;">No</label>
                                            </div>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li id="id_24" data-type="control_textarea" data-qid="24" data-order="14" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
                        <div class="question-wrapper questionWrapper  false">
                            <label id="label_24" class="form-label form-label-top" for="none" style="width: 100%;">
                                <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                                    <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">If Yes, Please Explain</div>
                                </div>
                            </label>
                            <div class="form-input-wide" data-layout="full" style="position: relative;">
                                <span class="form-sub-label-container" style="vertical-align: top;">
                                    <textarea id="input_24" class="form-textarea" name="q24_ifYes" data-component="textarea" aria-labelledby="label_24" placeholder="Type here..." style="width: 648px; height: 163px;"></textarea> <span class="form-sub-label">
                                        <div class="editor-container editorNoText" style="display: inline-block;">
                                            <div class="inlineEditor" placeholder="Type a sublabel" format="text" contenteditable="true" data-gramm="false"></div>
                                        </div>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </li>
                    <li id="id_20" data-type="control_button" data-qid="20" data-order="15" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Auto lastOne" style="z-index: 1;">
                        <div>
                            <div class="question-wrapper questionWrapper false m-5">
                                <div class="form-input-wide d-flex justify-content-end" data-layout="full" style="position: relative; display: flex; justify-content: center;">
                                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField">
                                        <div class="editor-container editorHasText mb-4" style="display: inline-block;">
                                            <button class="form-submit-button p-2 btn-primary" placeholder="" format="text" contenteditable="true" data-gramm="false" id="input_20" type="button" data-component="button" data-content="">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        @*<div class="input_fields_wrap">
                <button class="add_field_button">Add More Fields</button>
                <div>
                    <input type="text" id="hihi1"/>
                </div>
            </div>*@

    </div>
</div>