<div class="tab-pane show active bg-white" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <ul class="clearfix form-section page-section page_1" style="list-style: none; margin: 0px; font-size: 16px; margin: 0 200px; color: rgb(0, 24, 88); font-family: Inter, &quot; Lucida Grande&quot;, &quot; Lucida Sans Unicode&quot;, &quot; Lucida Sans&quot;, Verdana, sans-serif; ">
        <li id="id_25" data-type="control_head" data-qid="25" data-order="1" data-selectioncount="0" class="form-line clearfix isNotSelected form-input-wide form-input-wide-lix`ne-fix lineAlignment-Center" style="z-index: 1;" draggable="false">
            <div class="question-wrapper questionWrapper  false">
                <div class="form-input-wide" data-layout="full" style="position: relative;">
                    <div class="form-header-group  header-large">
                        <div class="header-text httac htvam">
                            <h1 id="header_25" class="form-header" data-component="header">
                                <div class="editor-container editorHasText" style="display: inline-block;">
                                    <div class="inlineEditor" placeholder="Type a header" format="text" contenteditable="true" data-gramm="false" style="padding: 20px; text-align: center; justify-content: center;">Employee Satisfactiony</div>
                                </div>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li id="id_26" data-type="control_fullname" data-qid="26" data-order="2" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Auto-Top mt-5" style="z-index: 1;">
            <div class="question-wrapper questionWrapper false">
                <label id="label_26" class="form-label form-label-top form-label-auto" for="none" style="width: 100%;">
                    <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                        <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">Name</div>
                    </div>
                </label>
                <div class="form-input-wide" data-layout="full" style="position: relative;">
                    <div data-wrapper-react="true">
                        <span class="form-sub-label-container" data-input-type="first" style="vertical-align: top;">
                            <input type="text" id="first_26" name="q26_name[first]" placeholder="First Name" class="form-textbox col-md-6 p-2" data-defaultvalue="" autocomplete="section-input_26 given-name" size="10" tabindex="-1" data-component="first" aria-labelledby="label_26 sublabel_26_first" value="">
                        </span>
                        <span class="form-sub-label-container" data-input-type="last" style="vertical-align: top;">
                            <input type="text" id="last_26" name="q26_name[last]" class="form-textbox col-md-6 p-2 mt-4" placeholder="Last Name" data-defaultvalue="" autocomplete="section-input_26 family-name" size="15" tabindex="-1" data-component="last" aria-labelledby="label_26 sublabel_26_last" value="">
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li id="id_22" data-type="control_radio" data-qid="22" data-order="5" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
            <div class="question-wrapper questionWrapper  false">
                <label id="label_22" class="form-label form-label-top" for="none" style="width: 100%;">
                    <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                        <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">How would you describe your overall level of job satisfaction?</div>
                    </div>
                </label>
                <div class="form-input-wide" data-layout="full" style="position: relative;">
                    <div class="form-single-column" role="group" aria-labelledby="label_22" data-component="radio">
                        <span class="form-radio-item mt-4" style="clear: left;">
                            <span class="dragger-item"></span>
                            <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" class="form-radio" id="input_22_0" name="q22_howWould" value="Very satisfied">
                            <span>
                                <div class="editor-container editorHasText" style="display: inline-block;">
                                    <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_0" style="display: inline-block;">Very satisfied</label>
                                </div>
                            </span>
                        </span>
                        <br />
                        <span class="form-radio-item mt-4" style="clear: left;">
                            <span class="dragger-item"></span>
                            <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" class="form-radio" id="input_22_1" name="q22_howWould" value="Somewhat satisfied">
                            <span>
                                <div class="editor-container editorHasText" style="display: inline-block;">
                                    <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_1" style="display: inline-block;">Somewhat satisfied</label>
                                </div>
                            </span>
                        </span>
                        <br />
                        <span class="form-radio- mt-4" style="clear: left;">
                            <span class="dragger-item"></span>
                            <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" id="input_22_2" name="q22_howWould" value="Neutral">
                            <span>
                                <div class="editor-container editorHasText" style="display: inline-block;">
                                    <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_2" style="display: inline-block;">Neutral</label>
                                </div>
                            </span>
                        </span>
                        <br />
                        <span class="form-radio-item mt-4" style="clear: left;">
                            <span class="dragger-item"></span>
                            <input class="form-radio" aria-describedby="label_22" type="radio" tabindex="-1" id="input_22_3" name="q22_howWould" value="Somewhat dissatisfied">
                            <span>
                                <div class="editor-container editorHasText" style="display: inline-block;">
                                    <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_3" style="display: inline-block;">Somewhat dissatisfied</label>
                                </div>
                            </span>
                        </span>
                        <br />
                        <span class="form-radio-item mt-4" style="clear: left;">
                            <span class="dragger-item"></span>
                            <input aria-describedby="label_22" type="radio" tabindex="-1" class="form-radio" id="input_22_4" name="q22_howWould" value="Very dissatisfied" />
                            <span>
                                <div class="editor-container editorHasText" style="display: inline-block;">
                                    <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_22_4" style="display: inline-block;">Very dissatisfied</label>
                                </div>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        <li id="id_23" data-type="control_matrix" data-inputtype="Radio Button" data-qid="23" data-order="6" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
            <div class="question-wrapper questionWrapper  false">
                <label id="label_23" class="form-label form-label-top" for="none" style="width: 100%;">
                    <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                        <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">How would you rate the following?</div>
                    </div>
                    @@ -561,273 +319,52 @@
                    <span>
                        <div class="editor-container editorHasText" style="display: inline-block;">
                            <label class="inlineEditor" placeholder="Type an option" format="text" contenteditable="true" data-gramm="false" id="label_input_16_1" style="display: inline-block;">No</label>
                        </div>
                    </span>
                    </span>
            </div>
</div>
                        </div>
                    </li>
<li id="id_24" data-type="control_textarea" data-qid="24" data-order="14" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Top mt-5" style="z-index: 1;">
    <div class="question-wrapper questionWrapper  false">
        <label id="label_24" class="form-label form-label-top" for="none" style="width: 100%;">
            <div class="editor-container editorHasText" style="display: inline; width: 100%;">
                <div class="inlineEditor" placeholder="Type a question" format="text" contenteditable="true" data-gramm="false" style="width: 100%;">If Yes, Please Explain</div>
            </div>
        </label>
        <div class="form-input-wide" data-layout="full" style="position: relative;">
            <span class="form-sub-label-container" style="vertical-align: top;">
                <textarea id="input_24" class="form-textarea" name="q24_ifYes" data-component="textarea" aria-labelledby="label_24" placeholder="Type here..." style="width: 648px; height: 163px;"></textarea> <span class="form-sub-label">
                    <div class="editor-container editorNoText" style="display: inline-block;">
                        <div class="inlineEditor" placeholder="Type a sublabel" format="text" contenteditable="true" data-gramm="false"></div>
                    </div>
                </span>
            </span>
        </div>
    </div>
</li>
<li id="id_20" data-type="control_button" data-qid="20" data-order="15" data-selectioncount="0" class="form-line clearfix isNotSelected lineAlignment-Auto lastOne" style="z-index: 1;">
    <div>
        <div class="question-wrapper questionWrapper false m-5">
            <div class="form-input-wide d-flex justify-content-end" data-layout="full" style="position: relative; display: flex; justify-content: center;">
                <div data-align="auto" class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField">
                    <div class="editor-container editorHasText mb-4" style="display: inline-block;">
                        <button class="form-submit-button p-2 btn-primary" placeholder="" format="text" contenteditable="true" data-gramm="false" id="input_20" type="button" data-component="button" data-content="">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
                </ul>
            </div>