


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Forms/</span>Create survey</h4>
    <div class="row">
        <div class="accordion mt-3" id="accordionExample">
            <div class="card accordion-item active">
                <h2 class="accordion-header" id="headingOne">
                    <button type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionOne"
                            aria-expanded="true"
                            aria-controls="accordionOne">
                        Create a questiont
                    </button>
                </h2>
                <div id="accordionOne"
                     class="accordion-collapse collapse show"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form>
                                        <div class="col-12 col-mb-4">
                                            <div class="row m-2">
                                                <div class="col-2"> <label class="form-label" for="basic-default-fullname">Name Survey</label></div>
                                                <div class="col-5"> <input type="text" class="form-control" id="basic-default-fullname" placeholder="Name Survey" /></div>
                                            </div>
                                            <div class="row m-2">
                                                <div class="col-2"><label class="form-label" for="basic-default-company">CreateAt</label></div>
                                                <div class="col-5"><input type="date" class="form-control" id="basic-default-company" placeholder="Create At" /></div>
                                            </div>
                                            <div class="row m-2">
                                                <div class="col-2"><label class="form-label" for="basic-default-company">CreateedBy</label></div>
                                                <div class="col-5"><input type="text" class="form-control" id="basic-default-company" placeholder="Createed By" /></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card accordion-item active">
                <h2 class="accordion-header" id="headingTwo">
                    <button type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionTwo"
                            aria-expanded="false"
                            aria-controls="accordionTwo">
                        Question text
                    </button>
                </h2>
                <div id="accordionTwo"
                     class="accordion-collapse collapse"
                     aria-labelledby="headingTwo"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form>
                                        <div class="col-12 col-mb-4">
                                            <div class="card accordion-item m-3">
                                                <h2 class="accordion-header" id="headingTwo1">
                                                    <button type="button"
                                                            class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#accordionTwo1"
                                                            aria-expanded="false"
                                                            aria-controls="accordionTwo1">
                                                        Question text
                                                    </button>
                                                </h2>
                                                <div id="accordionTwo1"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo"
                                                     data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <input type="text" class="form-control" id="basic-default-company" placeholder="Question" />
                                                            </div>
                                                            <div class="col"> <button type="submit" class="btn"> <i class="fa-solid fa-pen-to-square"></i> </button></div>
                                                            <div class="col"> <button type="submit" class="btn" onclick="myFunction()">  <i class="fa-solid fa-trash-can"></i></button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card accordion-item m-3">
                                                <h2 class="accordion-header" id="headingTwo2">
                                                    <button type="button"
                                                            class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#accordionTwo2"
                                                            aria-expanded="false"
                                                            aria-controls="accordionTwo2">
                                                        Question checkbox
                                                    </button>
                                                </h2>
                                                <div id="accordionTwo2"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo"
                                                     data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <input type="checkbox" id="vehicle1" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle2" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle3" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle4" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle5" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle6" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle7" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                        <input type="checkbox" id="vehicle8" name="vehicle3">
                                                        <label for="vehicle3"> I have a boat</label><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card accordion-item m-3">
                                                <h2 class="accordion-header" id="headingTwo3">
                                                    <button type="button"
                                                            class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#accordionTwo3"
                                                            aria-expanded="false"
                                                            aria-controls="accordionTwo3">
                                                        CreateedBy
                                                    </button>
                                                </h2>
                                                <div id="accordionTwo3"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo"
                                                     data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <input type="radio" id="age1" name="age" value="30">
                                                        <label for="age1">0 - 30</label><br>
                                                        <input type="radio" id="age2" name="age" value="60">
                                                        <label for="age2">31 - 60</label><br>
                                                        <input type="radio" id="age3" name="age" value="100">
                                                        <label for="age3">61 - 100</label><br>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card accordion-item m-3">
                                                <h2 class="accordion-header" id="headingTwo1">
                                                    <button type="button"
                                                            class="accordion-button collapsed"
                                                            data-bs-toggle="collapse"
                                                            data-bs-target="#accordionTwo4"
                                                            aria-expanded="false"
                                                            aria-controls="accordionTwo4">
                                                    </button>
                                                </h2>
                                                <div id="accordionTwo4"
                                                     class="accordion-collapse collapse"
                                                     aria-labelledby="headingTwo"
                                                     data-bs-parent="#accordionExample">
                                                    <div class="accordion-body">
                                                        <div class="row">
                                                            <div class="col-6 col-mb-4">
                                                                <select class="form-select col-md-6" aria-label="Default select example">
                                                                    <option selected>Open this select menu</option>
                                                                    <option value="1">One</option>
                                                                    <option value="2">Two</option>
                                                                    <option value="3">Three</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-6 col-mb-4">
                                                                <select class="form-select" aria-label="Default select example">
                                                                    <option selected>Open this select menu</option>
                                                                    <option value="1">One</option>
                                                                    <option value="2">Two</option>
                                                                    <option value="3">Three</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button type="button"
                            class="accordion-button collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordionThree"
                            aria-expanded="false"
                            aria-controls="accordionThree">
                        Enter your information
                    </button>
                </h2>
                <div id="accordionThree"
                     class="accordion-collapse collapse"
                     aria-labelledby="headingThree"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="col-xl-12">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="basic-icon-default-fullname">First Name</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="text"
                                                           class="form-control"
                                                           id="basic-icon-default-fullname"
                                                           placeholder="First Name"
                                                           aria-describedby="basic-icon-default-fullname2" />
                                                </div>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="basic-icon-default-company">Last Name</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="text"
                                                           id="basic-icon-default-company"
                                                           class="form-control"
                                                           placeholder="Last Name"
                                                           aria-describedby="basic-icon-default-company2" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="basic-icon-default-email">Old</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="date"
                                                           id="basic-icon-default-email"
                                                           class="form-control"
                                                           aria-describedby="basic-icon-default-email2" />
                                                </div>
                                            </div>
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="basic-icon-default-phone">Gender</label>
                                                <div class="input-group input-group-merge m-3 row">
                                                    <div class="col-4">
                                                        <input type="radio" id="age1" name="age" class="ml-3">
                                                        <label for="age1">Male</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="radio" id="age2" name="age" class="ml-3">
                                                        <label for="age2">Female</label>
                                                    </div>
                                                    <div class="col-4">
                                                        <input type="radio" id="age3" name="age" class="ml-3">
                                                        <label for="age3">Orther</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 mb-3">
                                                <label class="form-label" for="basic-icon-default-email">Email</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="text"
                                                           id="basic-icon-default-email"
                                                           class="form-control"
                                                           aria-describedby="basic-icon-default-email2" />
                                                </div>
                                            </div>
                                            <div class="col-6   mb-3">
                                                <label class="form-label" for="basic-icon-default-phone">Phone</label>
                                                <div class="input-group input-group-merge">
                                                    <input type="text"
                                                           id="basic-icon-default-phone"
                                                           class="form-control phone-mask"
                                                           placeholder="658 799 8941"
                                                           aria-describedby="basic-icon-default-phone2" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary col-1 mt-4">Send</button>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
</script>
<script>
    $(document).ready(function () {
        $("#basic-information").click(function () {
            $(".basic-info").toggle();
        });
        $("#questions").click(function () {
            $(".questions").toggle();
        });
        $(".questions #question-1").click(function () {
            $("#answer-1").toggle();
        });
        //$("#question-2").click(function () {
        //    $("#vehicle1").toggle();
        //    $("#vehicle2").toggle();
        //    $("#vehicle3").toggle();
        //    $("#vehicle4").toggle();
        //});
        //// Ajax
        //$("#delete-button-a1").click(function () {
        //    var ajxReq = $.ajax('http://time.jsontest.com', {
        //        type: 'DELETE'
        //    });
        //    ajxReq.success(function (data, status, jqXhr) {
        //        $("#vehicle1").append("Request is Success.");
        //    });
        //    ajxReq.error(function (jqXhr, textStatus, errorMessage) {
        //        $("#vehicle1").append("Request is Fail.");
        //    });
        //});
        
    });


});

</script>
<script>
    function myFunction() {
        alert("Are you sure you want to delete this survey?");
    }
</script>
