
<div class="main-wrapper ">
    <!-- Slider Start -->
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-10">
                    <div class="block">
                        <span class="d-block mb-3 text-white text-capitalize"> Chuẩn Bị Cho Tương Lai Mới</span>
                        <h1 class="animated fadeInUp mb-5"> Công việc của chúng tôi là <br /> tạo các cuộc khảo sát</h1>
                        <a href="#" target="_blank" class="btn btn-main animated fadeInUp btn-round-full">Bắt đầu <i class="btn-icon fa fa-angle-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Intro Start -->
    <section class="section intro">
        <div class="container">
            <div class="row ">
                <div class="col-lg-8">
                    <div class="section-title">
                        <span class="h6 text-color ">Chúng tôi là những người sáng tạo </span>
                        <h2 class="mt-3 content-title">Chúng tôi tạo các cuộc khảo sát để tìm ra các giải pháp tốt nhất</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="intro-item mb-5 mb-lg-0">
                        <i class="ti-desktop color-one"></i>
                        <h4 class="mt-4 mb-3">Tạo ra các cuộc khảo sát về môi trường</h4>
                        <p>Chúng tôi tạo ra các cuộc khảo sát  gần gũi và thiết thực nhất với cuộc sống thường ngày .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item mb-5 mb-lg-0">
                        <i class="ti-medall color-one"></i>
                        <h4 class="mt-4 mb-3">Tìm giải pháp bảo vệ môi trường</h4>
                        <p> Những ý kiến người dùng đưa ra chúng tôi sẽ áp dụng vào thực tế nhằm cải tiện môi trường sống .</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item">
                        <i class="ti-layers-alt color-one"></i>
                        <h4 class="mt-4 mb-3">Kêu gọi mọi người trong mọi độ tuổi chung tay bảo vệ môi trường.</h4>
                        <p>Hãy cùng nhau kêu gọi mọi người trong cộng đồng chung tay bảo vệ môi trường để có một thế giới toàn màu xanh .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section Intro END -->
    <!-- Section About Start -->

    <section class="section about position-relative">
        <div class="bg-about"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6 offset-md-0">
                    <div class="about-item ">
                        <span class="h6 text-color">Chúng tôi là gì</span>
                        <h2 class="mt-3 mb-4 position-relative content-title">Chúng tôi là người tạo ra các cuộc khảo sát</h2>
                        <div class="about-content">
                            <h4 class="mb-3 position-relative">Chúng tôi là người tạo ra các cuộc khảo sát</h4>
                            <p class="mb-5">Chúng tôi cung cấp các khảo sát thực tế sát với thực tế hiện nay nhất, để người tham gia khảo sát có thể đưa ra giải pháp tốt nhất để khắc phục tình trạng khó xử xung quanh cuộc sống hàng ngày ...</p>

                            <a href="#" class="btn btn-main btn-round-full">Bắt đâù </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section About End -->
    <!-- section Counter Start -->
    <section class="section counter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold">1730</span> +</h3>
                        <p class="text-muted">Project Done</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold">125 </span>M </h3>
                        <p class="text-muted">User Worldwide</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center mb-5 mb-lg-0">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold">39</span></h3>
                        <p class="text-muted">Availble Country</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="counter-item text-center">
                        <h3 class="mb-0"><span class="counter-stat font-weight-bold">14</span></h3>
                        <p class="text-muted">Award Winner </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section Counter End  -->
    <!--  Section Services Start -->
    <section class="section service border-top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">Dịch vụ của chúng tôi</span>
                        <h2 class="mt-3 content-title">Chúng tôi cung cấp nhiều loại khảo sát môi trường</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <h4 class="mb-3">Môi trường xã hội </h4>
                        <p>Nơi cung cấp tài nguyên cần thiết cho cuộc sống và hoạt động sản xuất của con người: môi trường xã hội sẽ bao gồm các yếu tố như: chính trị, kinh tế, văn hoá, thể thao, lịch sử, giáo dục… </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <h4 class="mb-3">Môi trường tự nhiên </h4>
                        <p>Là một môi trường bao gồm tất cả các sinh vật sống và không sống xuất hiện tự nhiên trên Trái Đất.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5">
                        <h4 class="mb-3">Môi trường trên cạn.</h4>
                        <p>Là những được tìm thấy trên đất liền, như rừng, đồng cỏ, sa mạc, bờ biển và đất ngập nước. Môi trường sống trên cạn cũng bao gồm môi trường sống do con người tạo ra, như trang trại, thị trấn, thành phố và môi trường sống dưới mặt đất, như hang động và hầm mỏ.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <h4 class="mb-3">Môi trường đất.</h4>
                        <p>Là là lớp ngoài cùng của thạch quyển. Đất bị biến đổi tự nhiên dưới tác động tổng hợp của các nhân tố khác trong môi trường đó là nước, không khí, sinh vật.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <h4 class="mb-3">Môi trường nước .</h4>
                        <p> Là môi trường mà những cá thể tồn tại, sinh sống và tương tác qua lại đều bị ảnh hưởng và phụ thuộc vào nước. </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="service-item mb-5 mb-lg-0">
                        <h4 class="mb-3">Môi trường không khí.</h4>
                        <p>
                            Là hỗn hợp các khí bao bọc quanh trái đất có nhiệm vụ duy trì và bảo vệ sự sống trên toàn bộ bề mặt trái đất.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Section Services End -->
    <!-- Section Cta Start -->
    <section class="section cta">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="cta-item  bg-white p-5 rounded">
                        <span class="h6 text-color">Chúng tôi tạo ra cho bạn</span>
                        <h2 class="mt-2 mb-4">Chúng tôi cung cấp cho bạn những biểu mẫu khảo sát gần gũi nhất với cuộc sống hàng ngày</h2>
                        <p class="lead mb-4">Bạn có bất cứ ý tưởng ? Nếu vậy, hãy cho chúng tôi biết để chúng tôi có thể phát triển ý tưởng của bạn::</p>
                        <h3><i class="ti-mobile mr-3 text-color"></i>+23 876 65 455</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  Section Cta End-->
    <!-- Section Testimonial Start -->
    <section class="section testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ">
                    <div class="section-title">
                        <span class="h6 text-color">Lời chứng thực của khách hàng</span>
                        <h2 class="mt-3 content-title">Kiểm tra những gì khách hàng của chúng tôi nói về chúng tôi</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row testimonial-wrap">
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Đây là một cuộc khảo sát hữu ích mang lại nhiều lợi ích cho xã hội, sau đó sẽ tổng hợp những ý kiến hay nhất về vẫn đề bảo vệ môi trường ..</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Các cuộc khảo sát mô tả chính xác hiện trạng của môi trường như thế nào và lấy ý kiến người tham gia khảo sát về các bước cải thiện.</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Đây là một cuộc khảo sát hữu ích mang lại nhiều lợi ích cho xã hội, sau đó sẽ tổng hợp những ý kiến hay nhất về vẫn đề bảo vệ môi trường ..</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item position-relative">
                    <i class="ti-quote-left text-color"></i>

                    <div class="testimonial-item-content">
                        <p class="testimonial-text">Các cuộc khảo sát mô tả chính xác hiện trạng của môi trường như thế nào và lấy ý kiến người tham gia khảo sát về các bước cải thiện.</p>

                        <div class="testimonial-author">
                            <h5 class="mb-0 text-capitalize">Mickel hussy</h5>
                            <p>Excutive Director,themefisher</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Testimonial End -->
    <section class="section latest-blog bg-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="section-title">
                        <span class="h6 text-color">Tin mới nhất</span>
                        <h2 class="mt-3 content-title text-white">Các bài báo về môi trường</h2>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card bg-transparent border-0">
                        <img src="images/blog/1.jpg" alt="" class="img-fluid rounded">

                        <div class="card-body mt-2">
                            @*<div class="blog-item-meta">
                                <a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
                                <a href="#" class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
                                <a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
                            </div>*@

                            <h3 class="mt-3 mb-5 lh-36"><a href="https://canhquansaigon.com/nhung-giai-phap-giup-cai-thien-moi-truong-song/" class="text-white ">Giải pháp giúp cải thiện môi trường sống</a></h3>

                            <a href="https://canhquansaigon.com/nhung-giai-phap-giup-cai-thien-moi-truong-song/" class="btn btn-small btn-solid-border btn-round-full text-white">Tìm hiểu thêm</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card border-0 bg-transparent">
                        <img src="images/blog/2.jpg" alt="" class="img-fluid rounded">

                        <div class="card-body mt-2">
                            @*<div class="blog-item-meta">
                                <a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
                                <a href="#" class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
                                <a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
                            </div>*@

                            <h3 class="mt-3 mb-5 lh-36"><a href="https://onghutcobang.vn/chung-ta-can-lam-gi-de-bao-ve-moi-truong-hien-nay/" class="text-white">Chúng ta cần làm gì để bảo vệ môi trường hiện nay?</a></h3>

                            <a href="https://onghutcobang.vn/chung-ta-can-lam-gi-de-bao-ve-moi-truong-hien-nay/" class="btn btn-small btn-solid-border btn-round-full text-white">Tìm hiểu thêm </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-5">
                    <div class="card border-0 bg-transparent">
                        <img src="images/blog/3.jpg" alt="" class="img-fluid rounded">

                        <div class="card-body mt-2">
                            @*<div class="blog-item-meta">
                                <a href="#" class="text-white-50">Design<span class="ml-2 mr-2">/</span></a>
                                <a href="#" class="text-white-50">Ui/Ux<span class="ml-2">/</span></a>
                                <a href="#" class="text-white-50 ml-2"><i class="fa fa-user mr-2"></i>admin</a>
                            </div>*@

                            <h3 class="mt-3 mb-5 lh-36"><a href="https://vksndtc.gov.vn/tin-tong-hop/chien-luoc-bao-ve-moi-truong-quoc-gia-den-nam-2030-d8-t10145.html" class="text-white">Chiến lược bảo vệ môi trường quốc gia đến năm 2030, tầm nhìn đến năm 2050</a></h3>

                            <a href="https://vksndtc.gov.vn/tin-tong-hop/chien-luoc-bao-ve-moi-truong-quoc-gia-den-nam-2030-d8-t10145.html" class="btn btn-small btn-solid-border btn-round-full text-white">Tìm hiểu thêm </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-70 position-relative">
        <div class="container">
            <div class="cta-block-2 bg-gray p-5 rounded border-1">
                <div class="row justify-content-center align-items-center ">
                    <div class="col-lg-7">
                        <span class="text-color">Chúng tôi có thể giúp gì cho bạn?</span>
                        <h2 class="mt-2 mb-4 mb-lg-0">Hãy liên hệ với chúng tôi nếu cần sựu trợ giúp.</h2>
                    </div>
                    <div class="col-lg-4">
                        <a href="/Home/Contact" class="btn btn-main btn-round-full float-lg-right ">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- footer Start -->

    @Html.Partial("_Footer")

</div>